//** Hero component *//
@use '_mixins'

.bc-hero
	position: relative
	overflow: hidden
	@include mixins.makeContainer
	a 
		color: inherit
	&--split
		@extend .bc-hero
		
		.bc-hero
			&__text, &__media
				padding-top: var(--gutter)	
				padding-left:  calc(var(--gutter) * 1)
				padding-right: calc(var(--gutter) * 1)
			&__text
				@include mixins.makeFlexbox($direction: column, $justify: center)
				
			&__media
				padding-bottom: calc(var(--gutter) * 0.5) 
				img 
					max-height: calc(100vh - var(--gutter) * 2)
					width: auto
					max-width: 100%
			&__footer
				padding-left:  calc(var(--gutter) * 1)
				padding-right: calc(var(--gutter) * 1)
				background-color: var(--shade-90)
				color: var(--brand-primary-invert)
				.svg-icon 
					fill: var(--brand-primary-invert)
	&--full-screen, &--full-screen--padded
		--hero-text-color: var(--white)
		@extend .bc-hero
		@include mixins.makeFlexbox($direction: column, $justify: center, $align: stretch)
		height: 100vh
		padding-top: 0
		padding-bottom: 0
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		color: var(--hero-text-color)
		.bc-hero
			&__media 
				position: absolute
				top: 0 
				left: 0
				width: 100%
				height: 100%
				z-index: 0
				object-fit: cover
				object-position: center
				img, video, object, iframe
					position: absolute
					width: 100%
					height: 100%
					object-fit: cover
					object-position: center
		&--padded
			padding-top: var(--gutter)
			padding-left: calc(var(--gutter) * 2)
			padding-bottom: var(--gutter)
			padding-right: calc(var(--gutter) * 2)
			.bc-hero
				&__media 
					top: var(--gutter) 
					left: var(--gutter)
					width:  calc(100% - var(--gutter) * 2)
					height: calc(100% - var(--gutter) * 2)
	.svg-icon
		fill: var(--hero-text-color)
	& &__body, & &__header, & &__footer
		z-index: 10
	& &__header, & &__footer
		@include mixins.makeFlexbox($justify: space-between, $align: center)
	& &__body
		flex: 1 0 80%
		&__content 
			@include mixins.makeFlexbox($direction: column, $justify: center)
			z-index: 10
	& &__header, & &__footer
		flex: 0 1 10%
	& &__footer
		p, a
			margin: 0
		&__scroll
			@include mixins.makeFlexbox(column, center, center)
			padding: calc(var(--vertical-unit) / 2) calc(var(--gutter) * 2)
			
			text-decoration: none
			transition: background-color var(--medtrans) var(--easing)
			.svg-icon
				max-width: 1rem
				max-height: 1rem 
			@include mixins.linkHover
				text-decoration: none
				background-color: rgba(var(--black), 0.2)
	& &__heading, & &__tagline, p, & &__link 
		margin-top: 0
		margin-bottom: var(--vertical-unit)
	
	& &__tagline
		font-size: var(--text-02)
	& &__link 
		font-weight: var(--bold-font-weight)
		
		