table
	margin-top:  0
	margin-bottom:  var(--vertical-unit)
	vertical-align: top
	border-collapse: collapse
	caption
		margin-bottom: var(--vertical-unit)
		font-family: var(--sans-font)
		font-weight: var(--bold-font-weight)
		text-align: left
	th  
		text-align: left
		border-bottom: 1px solid var(--black)
	th, td
		padding: calc(var(--gutter) / 8)
		vertical-align: top
	th 
		font-weight: var(--bold-font-weight)