:root {
  --body-margin:		0;
  --body-padding:		0;
  --content-max-width: 88%;
  --text-max-width: 	 42rem;
  --base-cols: 4;
  --min-col-width: 240px;
  --min-col-width-narrow: 180px;
  --max-content-width: 1280px;
  --line-height: 1.45;
  --vertical-unit: 1.5rem;
  --gutter: 1.5rem;
  --heading-line-height: 1.3;
  --feature-padding: 1.5rem * 3;
  --x-small: 340px;
  --small: 540px;
  --tablet: 768px;
  --tablet-large: 1024px;
  --laptop: 1240px;
  --laptop-large: 1366px;
  --desktop: 1440px;
  --desktop-large: 1600px;
  --big-screen: 1920px;
  --black: #000000;
  --text-black: #303030;
  --red: #f00;
  --orange: #f60;
  --yellow: #ff0;
  --green: #0f0;
  --blue: #00f;
  --purple: #4B0082;
  --violet:	#9400D3;
  --white: #fff;
  --shade-f0: #f0f0f0;
  --shade-e0: #e0e0e0;
  --shade-d0: #d0d0d0;
  --shade-c0: #b0b0b0;
  --shade-b0: #c0c0c0;
  --shade-a0: #a0a0a0;
  --shade-90: #909090;
  --shade-80: #808080;
  --shade-70: #707070;
  --shade-60: #606060;
  --shade-50: #505050;
  --shade-40: #404040;
  --shade-30: #303030;
  --shade-20: #202020;
  --shade-10: #101010;
  /* Brand colours * */
  --brand-primary: #000000;
  --brand-darker: black;
  --brand-secondary: #404040;
  --brand-primary-invert: 	 #303030;
  --brand-darker-invert: 	 #fff;
  --brand-secondary-invert: #303030;
  --serif-font: Quattrocento, serif;
  --sans-font: Quattrocento Sans, sans-serif;
  --base-font: Quattrocento, serif;
  --heading-font: Quattrocento Sans, sans-serif;
  --text-colour: #303030;
  --heading-colour: #303030;
  --link-color: #000000;
  --link-active-color: black;
  --link-active-weight: 700;
  --text-line-height: 1.45;
  --heading-line-height: 1.3;
  --font-weight: 400;
  --bold-font-weight: 700;
  --text-font-weight: 400;
  --heading-font-weight: 700;
  --text--2: 0.758rem;
  --text--1: 0.8706rem;
  --text-00: 1rem;
  --text-01: 1.1487rem;
  --text-02: 1.3195rem;
  --text-03: 1.5157rem;
  --text-04: 1.7411rem;
  --text-10: 2rem;
  --text-11: 2.2974rem;
  --text-12: 2.639rem;
  --x-small-text:	0.758rem;
  --small-text: 0.8706rem;
  --regular-text: 1rem;
  --h5-text: 1.1487rem;
  --h4-text: 1.3195rem;
  --h3-text: 1.5157rem;
  --h2-text: 1.7411rem;
  --h1-text: 2rem;
  --large-text: 2.2974rem;
  --super-large-text: 2.639rem;
  --h5: 1.1487rem;
  --h4: 1.3195rem;
  --h3: 1.5157rem;
  --h2: 1.7411rem;
  --h1: 2rem;
  --quicktrans: 240ms;
  --medtrans: 480ms;
  --menuSlideTransition: 240ms;
  --buttonTransition: 480ms;
  --easing: ease-in-out;
  --bounce: cubic-bezier(0.93, 0.1, 0.195, 1); }

/** Utilities **/
/* Media */
.bc-media-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 5;
  mix-blend-mode: soft-light; }

.bc-object-embed {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%; }
  .bc-object-embed object, .bc-object-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%; }

.is-1x1 {
  position: relative;
  overflow: hidden;
  padding-top: 100%; }
  .is-1x1 picture, .is-1x1 iframe, .is-1x1 object, .is-1x1 img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%; }

.is-3x2 {
  position: relative;
  overflow: hidden;
  padding-top: 66.66667%; }
  .is-3x2 picture, .is-3x2 iframe, .is-3x2 object, .is-3x2 img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%; }

.is-4x3 {
  padding-top: 75%; }

.is-5x4 {
  padding-top: 80%; }

.is-16x9 {
  padding-top: 56.25%; }

/* Lists */
.bc-plain-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .bc-plain-list li {
    list-style: none;
    margin: 0;
    padding: 0; }

/* Featured links */
.bc-icon-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center; }
  .bc-icon-links li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .bc-icon-links .svg-icon {
    max-height: 1.45rem;
    max-width: 1.45rem; }
  .bc-icon-links a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    width: 2rem;
    height: 2rem;
    text-decoration: none; }
    .bc-icon-links a:active, .bc-icon-links a:hover, .bc-icon-links a:focus {
      text-decoration: underline;
      text-decoration: none; }

.bc-arrow-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: var(--bold-font-weight);
  text-decoration: none; }
  .bc-arrow-link .svg-icon {
    max-width: 1.45rem;
    max-height: 1.45rem;
    margin-left: calc(var(--gutter) / 2); }
  .bc-arrow-link:active, .bc-arrow-link:hover, .bc-arrow-link:focus {
    text-decoration: underline;
    text-decoration: underline; }

/* Text component */
.bc-text-component {
  max-width: var(--text-max-width);
  margin-left: auto;
  margin-right: auto; }

.bc-intro-paragraph {
  font-size: 1.1487rem;
  font-weight: var(--bold-font-weight); }

/* Invisible content */
.bc-is-hidden {
  display: block;
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  overflow: hidden; }

/* Colours */
/* Coloring */
.has-red-background {
  background-color: #f00;
  color: #fff; }
  .has-red-background a {
    color: #fff; }
  .has-red-background .svg-icon {
    fill: #fff; }

.has-orange-background {
  background-color: #f60;
  color: #000000; }
  .has-orange-background a {
    color: #000000; }
  .has-orange-background .svg-icon {
    fill: #000000; }

.has-yellow-background {
  background-color: #ff0;
  color: #000000; }
  .has-yellow-background a {
    color: #000000; }
  .has-yellow-background .svg-icon {
    fill: #000000; }

.has-green-background {
  background-color: #0f0;
  color: #fff; }
  .has-green-background a {
    color: #fff; }
  .has-green-background .svg-icon {
    fill: #fff; }

.has-blue-background {
  background-color: #00f;
  color: #fff; }
  .has-blue-background a {
    color: #fff; }
  .has-blue-background .svg-icon {
    fill: #fff; }

.has-puple-background {
  background-color: #4B0082;
  color: #fff; }
  .has-puple-background a {
    color: #fff; }
  .has-puple-background .svg-icon {
    fill: #fff; }

.has-violet-background {
  background-color: #9400D3;
  color: #fff; }
  .has-violet-background a {
    color: #fff; }
  .has-violet-background .svg-icon {
    fill: #fff; }

/* Shading */
.has-white-background {
  background-color: #fff; }
  .has-white-background h1, .has-white-background h2, .has-white-background h3, .has-white-background h4, .has-white-background h5, .has-white-background p, .has-white-background ul, .has-white-background blockquote, .has-white-background a {
    color: #000000; }
  .has-white-background a {
    color: #000000; }
    .has-white-background a:active, .has-white-background a:hover, .has-white-background a:focus {
      text-decoration: underline;
      color: #000000; }
  .has-white-background .svg-icon {
    fill: #000000; }

.has-shade-f0-background {
  background-color: #f0f0f0; }
  .has-shade-f0-background h1, .has-shade-f0-background h2, .has-shade-f0-background h3, .has-shade-f0-background h4, .has-shade-f0-background h5, .has-shade-f0-background p, .has-shade-f0-background ul, .has-shade-f0-background blockquote, .has-shade-f0-background a {
    color: #000000; }
  .has-shade-f0-background a {
    color: #000000; }
    .has-shade-f0-background a:active, .has-shade-f0-background a:hover, .has-shade-f0-background a:focus {
      text-decoration: underline;
      color: #000000; }
  .has-shade-f0-background .svg-icon {
    fill: #000000; }

.has-shade-e0-background {
  background-color: #e0e0e0; }
  .has-shade-e0-background h1, .has-shade-e0-background h2, .has-shade-e0-background h3, .has-shade-e0-background h4, .has-shade-e0-background h5, .has-shade-e0-background p, .has-shade-e0-background ul, .has-shade-e0-background blockquote, .has-shade-e0-background a {
    color: #000000; }
  .has-shade-e0-background a {
    color: #000000; }
    .has-shade-e0-background a:active, .has-shade-e0-background a:hover, .has-shade-e0-background a:focus {
      text-decoration: underline;
      color: #000000; }
  .has-shade-e0-background .svg-icon {
    fill: #000000; }

.has-shade-d0-background {
  background-color: #d0d0d0; }
  .has-shade-d0-background h1, .has-shade-d0-background h2, .has-shade-d0-background h3, .has-shade-d0-background h4, .has-shade-d0-background h5, .has-shade-d0-background p, .has-shade-d0-background ul, .has-shade-d0-background blockquote, .has-shade-d0-background a {
    color: #000000; }
  .has-shade-d0-background a {
    color: #000000; }
    .has-shade-d0-background a:active, .has-shade-d0-background a:hover, .has-shade-d0-background a:focus {
      text-decoration: underline;
      color: #000000; }
  .has-shade-d0-background .svg-icon {
    fill: #000000; }

.has-shade-c0-background {
  background-color: #b0b0b0; }
  .has-shade-c0-background h1, .has-shade-c0-background h2, .has-shade-c0-background h3, .has-shade-c0-background h4, .has-shade-c0-background h5, .has-shade-c0-background p, .has-shade-c0-background ul, .has-shade-c0-background blockquote, .has-shade-c0-background a {
    color: #000000; }
  .has-shade-c0-background a {
    color: #000000; }
    .has-shade-c0-background a:active, .has-shade-c0-background a:hover, .has-shade-c0-background a:focus {
      text-decoration: underline;
      color: #000000; }
  .has-shade-c0-background .svg-icon {
    fill: #000000; }

.has-shade-b0-background {
  background-color: #c0c0c0; }
  .has-shade-b0-background h1, .has-shade-b0-background h2, .has-shade-b0-background h3, .has-shade-b0-background h4, .has-shade-b0-background h5, .has-shade-b0-background p, .has-shade-b0-background ul, .has-shade-b0-background blockquote, .has-shade-b0-background a {
    color: #000000; }
  .has-shade-b0-background a {
    color: #000000; }
    .has-shade-b0-background a:active, .has-shade-b0-background a:hover, .has-shade-b0-background a:focus {
      text-decoration: underline;
      color: #000000; }
  .has-shade-b0-background .svg-icon {
    fill: #000000; }

.has-shade-a0-background {
  background-color: #a0a0a0; }
  .has-shade-a0-background h1, .has-shade-a0-background h2, .has-shade-a0-background h3, .has-shade-a0-background h4, .has-shade-a0-background h5, .has-shade-a0-background p, .has-shade-a0-background ul, .has-shade-a0-background blockquote, .has-shade-a0-background a {
    color: #000000; }
  .has-shade-a0-background a {
    color: #000000; }
    .has-shade-a0-background a:active, .has-shade-a0-background a:hover, .has-shade-a0-background a:focus {
      text-decoration: underline;
      color: #000000; }
  .has-shade-a0-background .svg-icon {
    fill: #000000; }

.has-shade-90-background {
  background-color: #909090; }
  .has-shade-90-background h1, .has-shade-90-background h2, .has-shade-90-background h3, .has-shade-90-background h4, .has-shade-90-background h5, .has-shade-90-background p, .has-shade-90-background ul, .has-shade-90-background blockquote, .has-shade-90-background a {
    color: #000000; }
  .has-shade-90-background a {
    color: #000000; }
    .has-shade-90-background a:active, .has-shade-90-background a:hover, .has-shade-90-background a:focus {
      text-decoration: underline;
      color: #000000; }
  .has-shade-90-background .svg-icon {
    fill: #000000; }

.has-shade-80-background {
  background-color: #808080; }
  .has-shade-80-background h1, .has-shade-80-background h2, .has-shade-80-background h3, .has-shade-80-background h4, .has-shade-80-background h5, .has-shade-80-background p, .has-shade-80-background ul, .has-shade-80-background blockquote, .has-shade-80-background a {
    color: #000000; }
  .has-shade-80-background a {
    color: #000000; }
    .has-shade-80-background a:active, .has-shade-80-background a:hover, .has-shade-80-background a:focus {
      text-decoration: underline;
      color: #000000; }
  .has-shade-80-background .svg-icon {
    fill: #000000; }

.has-shade-70-background {
  background-color: #707070; }
  .has-shade-70-background h1, .has-shade-70-background h2, .has-shade-70-background h3, .has-shade-70-background h4, .has-shade-70-background h5, .has-shade-70-background p, .has-shade-70-background ul, .has-shade-70-background blockquote, .has-shade-70-background a {
    color: #000000; }
  .has-shade-70-background a {
    color: #000000; }
    .has-shade-70-background a:active, .has-shade-70-background a:hover, .has-shade-70-background a:focus {
      text-decoration: underline;
      color: #000000; }
  .has-shade-70-background .svg-icon {
    fill: #000000; }

.has-shade-60-background {
  background-color: #606060; }
  .has-shade-60-background h1, .has-shade-60-background h2, .has-shade-60-background h3, .has-shade-60-background h4, .has-shade-60-background h5, .has-shade-60-background p, .has-shade-60-background ul, .has-shade-60-background blockquote, .has-shade-60-background a {
    color: #fff; }
  .has-shade-60-background a {
    color: #fff; }
    .has-shade-60-background a:active, .has-shade-60-background a:hover, .has-shade-60-background a:focus {
      text-decoration: underline;
      color: #fff; }
  .has-shade-60-background .svg-icon {
    fill: #fff; }

.has-shade-50-background {
  background-color: #505050; }
  .has-shade-50-background h1, .has-shade-50-background h2, .has-shade-50-background h3, .has-shade-50-background h4, .has-shade-50-background h5, .has-shade-50-background p, .has-shade-50-background ul, .has-shade-50-background blockquote, .has-shade-50-background a {
    color: #fff; }
  .has-shade-50-background a {
    color: #fff; }
    .has-shade-50-background a:active, .has-shade-50-background a:hover, .has-shade-50-background a:focus {
      text-decoration: underline;
      color: #fff; }
  .has-shade-50-background .svg-icon {
    fill: #fff; }

.has-shade-40-background {
  background-color: #404040; }
  .has-shade-40-background h1, .has-shade-40-background h2, .has-shade-40-background h3, .has-shade-40-background h4, .has-shade-40-background h5, .has-shade-40-background p, .has-shade-40-background ul, .has-shade-40-background blockquote, .has-shade-40-background a {
    color: #fff; }
  .has-shade-40-background a {
    color: #fff; }
    .has-shade-40-background a:active, .has-shade-40-background a:hover, .has-shade-40-background a:focus {
      text-decoration: underline;
      color: #fff; }
  .has-shade-40-background .svg-icon {
    fill: #fff; }

.has-shade-30-background {
  background-color: #303030; }
  .has-shade-30-background h1, .has-shade-30-background h2, .has-shade-30-background h3, .has-shade-30-background h4, .has-shade-30-background h5, .has-shade-30-background p, .has-shade-30-background ul, .has-shade-30-background blockquote, .has-shade-30-background a {
    color: #fff; }
  .has-shade-30-background a {
    color: #fff; }
    .has-shade-30-background a:active, .has-shade-30-background a:hover, .has-shade-30-background a:focus {
      text-decoration: underline;
      color: #fff; }
  .has-shade-30-background .svg-icon {
    fill: #fff; }

.has-shade-20-background {
  background-color: #202020; }
  .has-shade-20-background h1, .has-shade-20-background h2, .has-shade-20-background h3, .has-shade-20-background h4, .has-shade-20-background h5, .has-shade-20-background p, .has-shade-20-background ul, .has-shade-20-background blockquote, .has-shade-20-background a {
    color: #fff; }
  .has-shade-20-background a {
    color: #fff; }
    .has-shade-20-background a:active, .has-shade-20-background a:hover, .has-shade-20-background a:focus {
      text-decoration: underline;
      color: #fff; }
  .has-shade-20-background .svg-icon {
    fill: #fff; }

.has-shade-10-background {
  background-color: #101010; }
  .has-shade-10-background h1, .has-shade-10-background h2, .has-shade-10-background h3, .has-shade-10-background h4, .has-shade-10-background h5, .has-shade-10-background p, .has-shade-10-background ul, .has-shade-10-background blockquote, .has-shade-10-background a {
    color: #fff; }
  .has-shade-10-background a {
    color: #fff; }
    .has-shade-10-background a:active, .has-shade-10-background a:hover, .has-shade-10-background a:focus {
      text-decoration: underline;
      color: #fff; }
  .has-shade-10-background .svg-icon {
    fill: #fff; }

* {
  box-sizing: border-box; }

html {
  font-size: 14px; }

body {
  margin: var(--body-margin, 0);
  padding: var(--body-margin, 0);
  font-family: var(--base-font);
  font-size: 100%;
  line-height: 1.45;
  background-color: var(--shade-f0); }

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: var(--vertical-unit);
  font-family: var(--heading-font);
  line-height: 1.35; }

h1 {
  font-size: 2.0581rem; }

h2 {
  font-size: 1.618rem; }

h3 {
  font-size: 1.272rem; }

p, ul, ol, blockquote {
  margin-top: 0;
  margin-bottom: var(--vertical-unit); }

button {
  font-family: var(--base-font); }

a {
  color: var(--link-color);
  transition: color var(--quicktrans) var(--easing); }
  a:active, a:hover, a:focus {
    text-decoration: underline;
    font-weight: var(--link-active-weight);
    color: var(--link-active-color); }

blockquote {
  margin-left: 0;
  margin-top: calc(var(--vertical-unit) * 2);
  margin-bottom: calc(var(--vertical-unit) * 2);
  padding-left: 2rem;
  border-left: 4px solid var(--shade-90); }
  blockquote p {
    font-style: italic; }

iframe {
  border: none; }

.svg-icon {
  max-width: 2rem;
  max-height: 2rem; }

@media screen and (min-width: 600px) {
  html {
    font-size: 16px; } }

@media screen and (min-width: 1200px) {
  html {
    font-size: 18px; } }

@media screen and (min-width: 1400px) {
  html {
    font-size: 20px; } }

.bc-site-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  color: var(--text-black); }
  .bc-site-header .bc-site-header__home-link, .bc-site-header .bc-site-header__menu-link {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center; }
  .bc-site-header .bc-site-header__menu-link {
    justify-content: flex-end; }
  .bc-site-header .bc-site-header__menu-link__close {
    display: none;
    fill: var(--shade-60); }
  @media screen and (min-width: 1024px) {
    .bc-site-header .bc-site-header__menu-link {
      display: none; } }
  .bc-site-header .bc-site-header__main-navigation {
    --header-height: 6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-top: var(--header-height);
    top: 0;
    left: auto;
    right: -100%;
    background-color: var(--white);
    z-index: 10;
    transition: right var(--medtrans) ease-out; }
    .bc-site-header .bc-site-header__main-navigation li {
      list-style: none;
      margin: 0;
      padding: 0; }
    .bc-site-header .bc-site-header__main-navigation__item {
      width: 100%; }
      .bc-site-header .bc-site-header__main-navigation__item > a {
        display: flex;
        flex-direction: row;
        justify-content: left;
        flex-wrap: nowrap;
        align-items: center;
        padding: calc(1.5rem / 2) var(--gutter); }
    @media screen and (min-width: 1024px) {
      .bc-site-header .bc-site-header__main-navigation {
        flex-direction: row;
        position: static;
        width: auto;
        height: auto;
        padding-top: 0;
        top: auto;
        left: auto;
        right: auto;
        background-color: transparent;
        transition: none; }
        .bc-site-header .bc-site-header__main-navigation__item {
          width: auto; }
          .bc-site-header .bc-site-header__main-navigation__item > a {
            justify-content: center; } }
  .bc-site-header .bc-site-header__title {
    width: 100%;
    margin-top: var(--vertical-unit);
    margin-bottom: 0; }
  .bc-site-header.bc-is-active .bc-site-header__menu-link {
    z-index: 20; }
    .bc-site-header.bc-is-active .bc-site-header__menu-link__close {
      display: block; }
    .bc-site-header.bc-is-active .bc-site-header__menu-link__menu {
      display: none; }
  .bc-site-header.bc-is-active .bc-site-header__main-navigation {
    right: 0;
    opacity: 1; }
  @media screen and (min-width: 1024px) {
    .bc-site-header {
      align-items: stretch; }
      .bc-site-header.bc-container, .bc-site-header.bc-hero, .bc-site-header.bc-hero--full-screen {
        padding-top: calc(var(--vertical-unit) / 2); } }
  .bc-site-header.bc-is-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--white);
    z-index: 20; }
    .bc-site-header.bc-is-hero-overlay a {
      color: var(--white); }

.bc-breadcrummbs-nav .bc-breadcrummbs-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: var(--text--1); }
  .bc-breadcrummbs-nav .bc-breadcrummbs-nav__list li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .bc-breadcrummbs-nav .bc-breadcrummbs-nav__list a {
    font-weight: var(--bold-font-weight);
    text-decoration: none; }
    .bc-breadcrummbs-nav .bc-breadcrummbs-nav__list a:active, .bc-breadcrummbs-nav .bc-breadcrummbs-nav__list a:hover, .bc-breadcrummbs-nav .bc-breadcrummbs-nav__list a:focus {
      text-decoration: underline;
      text-decoration: underline; }
  .bc-breadcrummbs-nav .bc-breadcrummbs-nav__list li {
    color: var(--shade-50); }
  .bc-breadcrummbs-nav .bc-breadcrummbs-nav__list .svg-icon {
    max-height: calc(var(--vertical-unit) / 2);
    max-width: var(--gutter); }

.bc-fade-in-up {
  top: var(--gutter);
  opacity: 0;
  transition: top 400ms var(--easing), opacity 800ms var(--easing);
  position: relative; }
  .bc-fade-in-up.bc-fade-in-up--loaded {
    top: 0px;
    opacity: 1; }

@keyframes caratbounce {
  25% {
    transform: translateY(12%); }
  50% {
    transform: translateY(-10%); }
  75% {
    transform: translateY(0%); } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.bc-body-wrap {
  position: relative;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden; }

.bc-container, .bc-hero, .bc-hero--full-screen {
  width: 100%;
  padding: var(--gutter); }
  @media screen and (min-width: 1380px) {
    .bc-container, .bc-hero, .bc-hero--full-screen {
      padding-left: calc((100% - var(--max-content-width)) / 2);
      padding-right: calc((100% - var(--max-content-width)) / 2); } }

/* Grids */
.bc-grid, .bc-grid--narrow-cols, .bc-grid--collapsed, .bc-grid--auto, .bc-grid--x2, .bc-grid--x4, [class~="bc-grid--x"] {
  display: grid;
  grid-template-rows: auto;
  gap: calc(var(--gutter)* 1.1);
  grid-template-columns: repeat(auto-fill, minmax(var(--min-col-width), 1fr)); }
  .bc-grid--narrow-cols {
    grid-template-columns: repeat(auto-fill, minmax(var(--min-col-width-narrow), 1fr)); }
  .bc-grid--collapsed {
    gap: 0;
    margin-left: -1.5rem;
    margin-right: -1.5rem; }
  .bc-grid--auto {
    grid-template-columns: repeat(auto-fill, minmax(var(--min-col-width), 1fr)); }
  @media screen and (min-width: 768px) {
    .bc-grid--x2 {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (min-width: 768px) {
    .bc-grid--x4 {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (min-width: 1240px) {
    .bc-grid--x4 {
      grid-template-columns: repeat(4, 1fr); } }

[class~="bc-grid--x"] {
  display: block; }
  @media screen and (min-width: 768px) {
    [class~="bc-grid--x"] {
      display: grid; } }

/* Grid items */
@media screen and (min-width: 1024px) {
  .bc-grid-span-2cols {
    grid-column-start: span 2; }
  .bc-grid-span-3cols {
    grid-column-start: span 3; }
  .bc-grid-span-4cols {
    grid-column-start: span 4; } }

/* Content components */
.bc-content-component, .bc-content-component--media, .bc-content-component--media-padded, .bc-content-component--text {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--gutter) /2);
  padding-right: calc(var(--gutter) /2); }
  @media screen and (min-width: 1024px) {
    .bc-content-component--text {
      max-width: calc(100% - 23.6%); } }
  @media screen and (min-width: 1024px) {
    .bc-content-component--media, .bc-content-component--media-padded {
      max-width: calc(100% - 11.8%); } }
  @media screen and (max-width: 1023px) {
    .bc-content-component--media {
      padding-left: 0;
      padding-right: 0; } }

.bc-hero, .bc-hero--full-screen {
  --hero-text-color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--hero-text-color); }
  .bc-hero a, .bc-hero--full-screen a {
    color: inherit; }
  .bc-hero .svg-icon, .bc-hero--full-screen .svg-icon {
    fill: var(--hero-text-color); }
  .bc-hero--full-screen {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0; }
  .bc-hero .bc-hero__media, .bc-hero--full-screen .bc-hero__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    object-position: center; }
    .bc-hero .bc-hero__media img, .bc-hero--full-screen .bc-hero__media img, .bc-hero .bc-hero__media video, .bc-hero--full-screen .bc-hero__media video, .bc-hero .bc-hero__media object, .bc-hero--full-screen .bc-hero__media object, .bc-hero .bc-hero__media iframe, .bc-hero--full-screen .bc-hero__media iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
  .bc-hero .bc-hero__body, .bc-hero--full-screen .bc-hero__body, .bc-hero .bc-hero__header, .bc-hero--full-screen .bc-hero__header, .bc-hero .bc-hero__footer, .bc-hero--full-screen .bc-hero__footer {
    z-index: 10; }
  .bc-hero .bc-hero__header, .bc-hero--full-screen .bc-hero__header, .bc-hero .bc-hero__footer, .bc-hero--full-screen .bc-hero__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center; }
  .bc-hero .bc-hero__body, .bc-hero--full-screen .bc-hero__body {
    flex: 1 0 80%; }
    .bc-hero .bc-hero__body__content, .bc-hero--full-screen .bc-hero__body__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: nowrap;
      align-items: flex-start;
      z-index: 10; }
      @media screen and (min-width: 1240px) {
        .bc-hero .bc-hero__body__content, .bc-hero--full-screen .bc-hero__body__content {
          grid-column-start: 2;
          grid-column-end: span 2; } }
  .bc-hero .bc-hero__header, .bc-hero--full-screen .bc-hero__header, .bc-hero .bc-hero__footer, .bc-hero--full-screen .bc-hero__footer {
    flex: 0 1 10%; }
  .bc-hero .bc-hero__footer p, .bc-hero--full-screen .bc-hero__footer p, .bc-hero .bc-hero__footer a, .bc-hero--full-screen .bc-hero__footer a {
    margin: 0; }
  .bc-hero .bc-hero__footer__scroll, .bc-hero--full-screen .bc-hero__footer__scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding: calc(var(--vertical-unit) / 2) calc(var(--gutter) * 2);
    text-decoration: none;
    transition: background-color var(--medtrans) var(--easing); }
    .bc-hero .bc-hero__footer__scroll .svg-icon, .bc-hero--full-screen .bc-hero__footer__scroll .svg-icon {
      max-width: 1rem;
      max-height: 1rem; }
    .bc-hero .bc-hero__footer__scroll:active, .bc-hero--full-screen .bc-hero__footer__scroll:active, .bc-hero .bc-hero__footer__scroll:hover, .bc-hero--full-screen .bc-hero__footer__scroll:hover, .bc-hero .bc-hero__footer__scroll:focus, .bc-hero--full-screen .bc-hero__footer__scroll:focus {
      text-decoration: underline;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.2); }
  .bc-hero .bc-hero__heading, .bc-hero--full-screen .bc-hero__heading, .bc-hero .bc-hero__tagline, .bc-hero--full-screen .bc-hero__tagline, .bc-hero p, .bc-hero--full-screen p, .bc-hero .bc-hero__link, .bc-hero--full-screen .bc-hero__link {
    margin-top: 0;
    margin-bottom: var(--vertical-unit); }
  .bc-hero .bc-hero__tagline, .bc-hero--full-screen .bc-hero__tagline {
    font-size: var(--text-02); }
  .bc-hero .bc-hero__link, .bc-hero--full-screen .bc-hero__link {
    font-weight: var(--bold-font-weight); }

/* Big Cat Cards */
.bc-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-bottom: var(--gutter);
  overflow: hidden; }
  .bc-card .bc-card__heading, .bc-card p, .bc-card a {
    margin-top: 0;
    margin-bottom: calc(var(--vertical-unit) /2); }
  .bc-card .bc-card__heading {
    font-size: var(--h2-text); }
  .bc-card .bc-card__media {
    width: 100%;
    margin-bottom: var(--vertical-unit); }
  .bc-card.bc-card--roll-over:hover .bc-card-img, .bc-card.bc-card--roll-over:hover .bc-card-text, .bc-card.bc-card--roll-over:focus .bc-card-img, .bc-card.bc-card--roll-over:focus .bc-card-text {
    top: -100%; }
  .bc-card.bc-card--roll-over:hover .bc-card-content, .bc-card.bc-card--roll-over:hover .bc-card-img--focus-image, .bc-card.bc-card--roll-over:focus .bc-card-content, .bc-card.bc-card--roll-over:focus .bc-card-img--focus-image {
    top: 0px; }
  .bc-card.bc-card--roll-over:hover .bc-card-link-text, .bc-card.bc-card--roll-over:focus .bc-card-link-text {
    text-decoration: underline; }
  .bc-card.bc-card--roll-over:hover .bc-card-link::before, .bc-card.bc-card--roll-over:focus .bc-card-link::before {
    top: 0; }
  .bc-card.bc-card--plain-text {
    justify-content: center;
    padding: var(--vertical-unit) var(--gutter);
    transition: background-color var(--quicktrans) var(--easing); }
  .bc-grid--collapsed .bc-card {
    margin-bottom: 0; }
  .bc-card:hover {
    cursor: pointer; }

.bc-two-column-layout {
  margin-bottom: calc(var(--vertical-unit) * 2); }
  .bc-two-column-layout:last-of-type {
    margin-bottom: 0; }
  @media screen and (min-width: 768px) {
    .bc-two-column-layout:nth-child(odd) .bc-two-column-layout__text-column {
      order: 1; } }
  .bc-two-column-layout .bc-two-column-layout__text-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    order: 1; }
    @media screen and (min-width: 768px) {
      .bc-two-column-layout .bc-two-column-layout__text-column {
        justify-content: center;
        order: 0;
        padding: var(--vertical-unit) var(--gutter); } }
  .bc-two-column-layout .bc-two-column-layout__media-column__media {
    display: block; }

.bc-flickity {
  position: relative; }
  .bc-flickity .bc-flickity__slide {
    width: 100%;
    margin-right: var(--gutter); }
  .bc-flickity.bc-flickity--text-slider .flickity-viewport {
    transition: height var(--medtrans) var(--easing); }
  .bc-flickity.bc-flickity--card-slider .bc-flickity__slide {
    min-width: var(--min-col-width); }
  @media screen and (min-width: 540px) {
    .bc-flickity.bc-flickity--card-slider .bc-flickity__slide {
      max-width: calc(50% - 0.75rem); } }
  @media screen and (min-width: 1024px) {
    .bc-flickity.bc-flickity--card-slider .bc-flickity__slide {
      max-width: calc((100% * 0.333) - 1rem); } }
  @media screen and (min-width: 1240px) {
    .bc-flickity.bc-flickity--card-slider .bc-flickity__slide {
      max-width: calc((100% * 0.25) - 1.125rem); } }
  @media screen and (max-width: calc(1024px - 1px)) {
    .bc-flickity {
      padding-bottom: calc(var(--vertical-unit) * 2); }
      .bc-flickity .flickity-button, .bc-flickity .flickity-page-dots {
        bottom: var(--vertical-unit);
        top: auto;
        transform: translateY(50%);
        background-color: transparent; }
      .bc-flickity .flickity-button {
        z-index: 10; } }
  .bc-hero--full-screen .bc-flickity {
    flex: 1 1 100%; }
    .bc-hero--full-screen .bc-flickity .bc-flickity__slide {
      height: 100%;
      padding-left: var(--gutter);
      padding-right: var(--gutter); }

.bc-twin-comoponent {
  position: relative;
  padding: 0;
  overflow: hidden; }
  .bc-twin-comoponent > .bc-media-overlay {
    opacity: 0;
    z-index: 10; }
  .bc-twin-comoponent .bc-twin-comoponent__media {
    position: relative;
    display: none; }
    .bc-twin-comoponent .bc-twin-comoponent__media > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: opacity var(--medtrans) var(--easing), transform var(--medtrans) var(--easing);
      opacity: 0;
      transform: scale(1.024); }
      .bc-twin-comoponent .bc-twin-comoponent__media > img.is-active {
        opacity: 1;
        transform: scale(1); }
  .bc-twin-comoponent .bc-twin-comoponent__sects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
    background-color: var(--white);
    z-index: 20; }
  .bc-twin-comoponent .bc-card {
    position: relative;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 0;
    padding: calc(var(--gutter) * 1.333) var(--gutter);
    color: var(--black);
    background-color: transparent;
    transition: background-color var(--quicktrans) var(--easing);
    border-top: 1px solid var(--shade-a0); }
    .bc-twin-comoponent .bc-card:last-of-type {
      border-bottom: 1px solid var(--shade-a0); }
    .bc-twin-comoponent .bc-card .bc-card__body {
      position: relative;
      z-index: 10; }
    .bc-twin-comoponent .bc-card .bc-card__icon {
      margin-bottom: calc(var(--vertical-unit) / 2);
      max-width: var(--x-large-text);
      max-height: var(--x-large-text); }
    .bc-twin-comoponent .bc-card p:last-of-type {
      margin-bottom: 0; }
    .bc-twin-comoponent .bc-card a {
      margin-bottom: 0; }
    .bc-twin-comoponent .bc-card > .bc-media-overlay {
      background-color: #000000;
      opacity: 0;
      z-index: 0;
      transition: opacity var(--quicktrans) var(--easing); }
    .bc-twin-comoponent .bc-card:active, .bc-twin-comoponent .bc-card:hover, .bc-twin-comoponent .bc-card:focus {
      text-decoration: underline;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.1); }
      .bc-twin-comoponent .bc-card:active > .bc-media-overlay, .bc-twin-comoponent .bc-card:hover > .bc-media-overlay, .bc-twin-comoponent .bc-card:focus > .bc-media-overlay {
        opacity: 0.6; }
    .bc-twin-comoponent .bc-card.is-active {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.1); }
      .bc-twin-comoponent .bc-card.is-active > .bc-media-overlay {
        opacity: 0.6; }
  .bc-twin-comoponent.is-active .bc-twin-comoponent .bc-twin-comoponent.is-active .bc-twin-comoponent__media__is-active {
    opacity: 1; }
  @media screen and (min-width: 1024px) {
    .bc-twin-comoponent {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: nowrap;
      align-items: stretch;
      background-color: rgba(0, 0, 0, 0.24); }
      .bc-twin-comoponent .bc-twin-comoponent__media {
        display: block;
        overflow: hidden;
        order: 1;
        width: 50%; }
      .bc-twin-comoponent > .bc-media-overlay {
        opacity: 0;
        z-index: 10; }
      .bc-twin-comoponent .bc-twin-comoponent__corp-image {
        display: block; }
      .bc-twin-comoponent .bc-twin-comoponent__sects {
        width: 50%; }
      .bc-twin-comoponent .bc-card {
        border: none;
        padding-top: calc(var(--gutter) * 2);
        padding-bottom: calc(var(--gutter) * 2); }
        .bc-twin-comoponent .bc-card:last-child {
          border: none; }
        .bc-twin-comoponent .bc-card .bc-card__icon {
          display: none;
          max-width: var(--large-text);
          max-height: var(--large-text); } }

table {
  margin-top: 0;
  margin-bottom: var(--vertical-unit);
  vertical-align: top;
  border-collapse: collapse; }
  table caption {
    margin-bottom: var(--vertical-unit);
    font-family: var(--sans-font);
    font-weight: var(--bold-font-weight);
    text-align: left; }
  table th {
    text-align: left;
    border-bottom: 1px solid var(--black); }
  table th, table td {
    padding: calc(var(--gutter) / 8);
    vertical-align: top; }
  table th {
    font-weight: var(--bold-font-weight); }

/* Inner page header */
@media screen and (max-width: calc(1024px - 1px)) {
  .bc-site-header .bc-site-header__main-navigation__item > a {
    color: var(--text-black); } }

/* Hero components overlay */
.bc-card .bc-card__media {
  background-color: var(--shade-60); }

.bc-card--plain-text {
  background-color: var(--shade-e0); }
  .bc-card--plain-text:active, .bc-card--plain-text:hover, .bc-card--plain-text:focus {
    text-decoration: underline;
    background-color: var(--shade-d0);
    text-decoration: none; }
    .bc-card--plain-text:active a, .bc-card--plain-text:hover a, .bc-card--plain-text:focus a {
      text-decoration: underline;
      font-weight: var(--link-active-weight); }

/* Transcript for object embeds */
.bc-show-hide {
  margin-top: calc(var(--vertical-unit) / 2 * -1);
  margin-bottom: calc(var(--vertical-unit) / 2); }
  .bc-show-hide .bc-show-hide__toggle {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: calc(var(--vertical-unit) / 2);
    padding-bottom: calc(var(--vertical-unit) / 2);
    font-family: var(--heading-font);
    font-size: var(--text-01);
    font-weight: var(--bold-font-weight);
    text-decoration: none; }
    .bc-show-hide .bc-show-hide__toggle:active, .bc-show-hide .bc-show-hide__toggle:hover, .bc-show-hide .bc-show-hide__toggle:focus {
      text-decoration: underline;
      text-decoration: underline;
      cursor: pointer; }
    .bc-show-hide .bc-show-hide__toggle.bc-is-active .bc-show-hide-icon.bc-show-hide-icon__hide {
      opacity: 1; }
    .bc-show-hide .bc-show-hide__toggle.bc-is-active .bc-show-hide-icon.bc-show-hide-icon__show {
      opacity: 0; }
    .bc-show-hide .bc-show-hide__toggle.bc-is-active + .bc-show-hide__body {
      margin-bottom: var(--vertical-unit); }
  .bc-show-hide .bc-show-hide-icon {
    position: absolute;
    right: 0;
    width: var(--text-02);
    height: var(--text-02);
    opacity: 1;
    z-index: 10; }
    .bc-show-hide .bc-show-hide-icon.bc-show-hide-icon__hide {
      opacity: 0;
      transform: rotate(180deg); }
  .bc-show-hide .bc-show-hide__hide-icon {
    opacity: 0; }
  .bc-show-hide .bc-show-hide__body {
    height: 0;
    overflow: hidden;
    padding-left: calc(var(--gutter) / 2);
    padding-right: calc(var(--gutter) / 2);
    transition: padding var(--medtrans) var(--easing), height var(--medtrans) var(--easing); }
    .bc-show-hide .bc-show-hide__body.bc-is-active {
      padding-top: var(--vertical-unit);
      padding-bottom: var(--vertical-unit); }
